<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page</title>
    <style>
        body{
          /* background-image: url("./404.png"); */
          background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/18680.png");
          
background-repeat: no-repeat; 
background-size: 100%;
color: white;
text-align: center;
        }
       h1{
        margin-top: 70px;
       }
    </style>
</head>
<body>
    <h1>404 Error, Page Not Found!</h1>
   
</body>
</html>